.bg-gray {
  background-color: #f0f3f5;
}
.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.rounded-pannel {
  border-radius: 24px;
  background-color: #fcfcfd;
}
.text-blue {
  color: #4a69e8;
}

.sub-title {
  font-size: 18px;
  color: #667f99;
}

.side-width {
  width: 300px;
}
